<template>
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <h1 class="title">Sign In</h1>
            <h6 class="title-2">Sign in now to start</h6>
            <h6></h6>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="username"
                id="username"
                class="form-control login-input"
                placeholder="Email"
                v-model="email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control login-input"
                placeholder="Password"
                v-model="password"
              />
            </div>
            <div class="form-group float-left">
              <label class="remember">
                <span>
                  <input id="remember-me" name="remember-me" type="checkbox" />
                </span>
                <span>Remember me</span>
              </label>
              <br />
            </div>
            <div class="form-group submit-button w-100">
              <input
                type="submit"
                name="submit"
                class="btn btn-md w-100"
                value="Login"
                @click="signin()"
              />
            </div>
            <div class="reset-links">
              <router-link to="reset">
                <a class="text-reset">Forgot password?</a>
                <br />
              </router-link>
              <router-link to="/signup">
                <a class="text-reset">Don’t have an account yet?</a>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Signin",
  data() {
    return {
      email: "",
      password: "",

      // error: {
      //   isVisible: false,
      //   message: "",
      // },
    };
  },
  methods: {
    showError() {
      this.$swal({
        icon: "error",
        title: "Oops...",
        text: "Your e-mail or password is wrong!",
      });
    },
    signin() {
      axios({
        method: "post",
        url: "https://cargotracking.herokuapp.com/api/auth/obtain/token/",
        headers: { "Content-Type": "application/json" },
        data: {
          username: this.email, // This is the body part
          password: this.password,
        },
      })
        .then((response) => {
          localStorage.setItem("refresh", response.data.refresh);
          localStorage.setItem("access", response.data.access);
          this.$router.push('admin');
        })
        .catch((error) => {
          console.log(error);
          this.showError();
        });
    },
  },
  // rememberMe: function() {
  //   console.log("rememberMe");
  // },
};
</script>

<style>
.container-fluid {
  background: linear-gradient(
    135deg,
    rgba(77, 77, 78, 1) 0%,
    rgba(43, 43, 44, 1) 100%
  );
  border-radius: 2px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #ffffff;
}
.title-2 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}
.login-input {
  margin-bottom: 10px;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  text-align: start;
  border: 1px solid white;
  color: white;
  height: 48px;
}
.login-input:focus {
  background: transparent;
  color: white;
}
.remember {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
#remember-me {
  margin-right: 12px;
}
.btn {
  height: 56px;
  background: #e9735f;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.text-reset {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff !important;
}
.reset-links {
  margin-bottom: 8px;
  margin-top: 60px;
}
</style>
