<template>
  <div class="flex-1">
    <div id="main-page-container" class="container-fluid">
      <div id="main-page-container-bg"></div>
      <div class="row h-100">
        <div class="left col-md-2">
          <adminSidebar v-on:changecomponent="updateComponent" />
        </div>
        <div class="right col-md-10 p-0">
          <adminNavbar />
          <adminTable v-if="currentComponent == 'table'" :orders="orderData" />
          <adminStats v-else />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminNavbar from "@/components/AdminNavbar.vue";
import AdminSidebar from "@/components/AdminSidebar.vue";
import AdminTable from "@/components/AdminTable.vue";
import AdminStats from "@/components/AdminStats.vue";
import axios from "axios";

export default {
  name: "Admin",
  components: {
    AdminNavbar,
    AdminSidebar,
    AdminTable,
    AdminStats,
  },
  created() {
    this.fetchData();
  },
  methods: {

    // Fetch the data from database via API

    async fetchData() {
      const response = await axios({
        method: "get",
        url: "https://cargotracking.herokuapp.com/api/orders/",
        headers: { "Content-Type": "application/json", 'Authorization': 'Bearer ' + localStorage.getItem("access")},
      })
      .catch(function (error) {
        if (error.response) {
          console.log(error.response.data);
          console.log(error.response.status);
        }
      });

      if(response) {
        const content = await response.data;
        this.orderData = content;
      }
    },

    // Selects the component to show in the admin page (Table or Stats)

    updateComponent(component) {
      this.currentComponent = component;
    },
  },
  data() {
    return {
      orderData: [],
      currentComponent: "table", //table, stats
    };
  },
};
</script>

<style scoped>
.left {
  background-color: #5b5b5d;
}

.right {
  background: linear-gradient(285.8deg, #2b2b2c 0%, #4d4d4e 100%);
}
</style>
