<template>
    <div class="flex-1">
      <div id="main-page-container" class="container-fluid">
        <div id="main-page-container-bg"></div>
        <div class="row">
          <div class="left col-md-6">
            <div class="logo">
              <h3>LOGO</h3>
            </div>
            <div class="company">
              <div class="companyname">
                <h1>FIRKATEYN</h1>
              </div>
              <div class="description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
                  neque vel dicta placeat dignissimos consectetur, tempore
                  repudiandae expedita nam ad saepe incidunt aliquam
                </p>
              </div>
              <router-link to="about">
                <button class="tiklagit">
                  <div class="d-inline-flex w-100 justify-content-center align-items-center">
                    <span>About Us</span>
                  </div>
                </button>
              </router-link>
            </div>
          </div>

          <div class="right col-md-6">
            <div class="d-flex flex-column w-100 align-items-center justify-content-center">
              <div>
                <router-link to="signin">
                  <button class="signin">
                    <i class="fa fa-sign-in"></i> Sign In
                  </button>
                </router-link>
              </div>
              <div
                class="postCargoNo d-flex flex-column w-100 align-items-center justify-content-center"
              >
                <div class="trucktext">
                  <img class="truck" src="../assets/TruckHome.svg" />

                  <p>Enter your cargo number:</p>
                </div>
                <div>
                  <input v-model="searchBox" class="inputtext" type="text" placeholder="Cargo Number" />
                </div>
                <div>
                  <button
                    @click="search()"
                    class="done"
                  >
                    <b>Search</b>
                  </button>
                </div>
                <CargoTrackPopup
                  v-if="info.length>0"
                  v-bind:RecipientName="info[0].recipient.name"
                  v-bind:RecipientEmail="info[0].recipient.eposta"
                  v-bind:RecipientPhone="info[0].recipient.phone"
                  v-bind:RecipientAdress="info[0].recipient.address"
                  v-bind:SenderName="info[0].sender.name"
                  v-bind:SenderEmail="info[0].sender.eposta"
                  v-bind:SenderPhone="info[0].sender.phone"
                  v-bind:SenderAdress="info[0].sender.address"
                  v-bind:OrderDate="info[0].orderDate"
                  v-bind:OrderFrom="info[0].startDropoff"
                  v-bind:OrderTo="info[0].finishDropoff"
                  v-bind:OrderStatus="info[0].order_status.orderStat"
                ></CargoTrackPopup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HomePage from "@/components/HomePage.vue";
import CargoTrackPopup from "@/components/CargoTrackPopup.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    HomePage,
    CargoTrackPopup,
  },
  data() {
    return {
      info: [],
      searchBox: ""
    };
  },
  methods: {
    showError() {
      this.$swal({
        icon: "error",
        title: "Oops...",
        text: "Your cargo tracking number is wrong!",
      });
    },
    showAlert() {},
    search() {
      fetch('https://cargotracking.herokuapp.com/shipments/?trackNo='+this.searchBox, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
        //        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then(json => {
          this.info = json;
          if (this.info.length === 0) {
            $('#exampleModalCenter').modal('hide');
            this.showError();
          } else {
            $('#exampleModalCenter').modal('show');
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          this.info = [];
        });
    },
  },
};
</script>

<style>
.p-relative {
  position: relative;
}

.closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content {
  border-radius: 16px;
}

.modal-body ul li {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-body ul li p {
  display: flex;
  justify-content: left;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body ul li input {
  padding: 3px;
  display: flex;
  width: 100%;
  outline: 0;
  border: 1px solid #bababa;
  border-radius: 3px;
}

#main-page-container {
  position: relative;
}

#main-page-container-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Worldmap.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  color: #e9735f;
}

.modal-body {
  color: #e9735f;
}

.modal-dialog {
  max-width: unset !important;
}

.container-fluid {
  background: linear-gradient(
    135deg,
    rgba(77, 77, 78, 1) 0%,
    rgba(43, 43, 44, 1) 100%
  );
}

.flex-1 {
  flex: 1;
  display: flex;
}

.logo {
  font-weight: bold;
  color: white;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
}

.truck {
  margin-bottom: 10px;
}

.trucktext {
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
}

.inputtext {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 8px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px 10px;
  background: transparent;
  border-radius: 5px;
  text-align: start;
  border: 1px solid white;
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
}

.done {
  background-color: white;
  border-style: none;
  color: #e9735f;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.h-100 {
  height: 100%;
}

.company {
  margin-top: 250px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.companyname {
  font-weight: bold;
  color: white;
  float: left;
  margin-bottom: 15px;
  margin-top: 20px;
}

.description {
  color: white;
  text-align: left;
  float: left;
  margin-bottom: 15px;
}

.tiklagit {
  background-color: #e9735f;
  color: white;
  border-style: none;
  float: left;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.signin {
  background-color: #e9735f;
  color: white;
  border-style: none;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  float: right;
  margin-top: 80px;
  margin-bottom: 130px;
  margin-left: 380px;
}

.postCargoNo {
  border: 1px solid #e9735f;
  border-radius: 5px;
  box-sizing: inherit;
  margin-left: 108px;
  width: 50% !important;
}
</style>