<template>
  <div>
    <title>404 Sayfa Bulunamadı | FIRKATEYN</title>
    <body class="hata-bolumu h-100">
      <div class="content">
        <div class="container">
          <div class="row">
            <div
              class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-6 col-6 text-center"
            >
              <div class="hata-alani">
                <div class="hata-gorseli">
                  <img
                    src="../assets/hata.png"
                    alt="404 logo"
                    class="img-fluid"
                  />
                </div>
                <h2 class="hata-baslik">
                  Ooooopppppssssssss!!! <br />
                  Hata sayfamızla karşılaştınız!
                </h2>
                <p class="lead d-none d-xl-block d-lg-block">
                  Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici
                  olarak kullanılamıyor olabilir.
                </p>
                <a href="./" class="btn btn-default">Anasayfaya Git</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>
</template>

<script>
export default {};
</script>

<style>
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  font-size: 18px;
  color: #50595e;
  font-weight: 400;
  line-height: 28px;
}
.hata-bolumu {
  background: url(../assets/hatabg.jpg);
}

.content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.hata-alani {
  -webkit-box-shadow: 0 -1px 42px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 -1px 42px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0 -1px 42px -1px rgba(0, 0, 0, 0.19);
  background-color: #fff;
  text-align: center;
  padding: 150px 100px 0;
  border-radius: 100%;
  height: 760px;
  width: 700px;
}
.hata-gorseli {
  margin-bottom: 40px;
  color: #fff;
}
.hata-baslik {
  color: #9ca2a5;
}
.btn-default {
  background-color: #fcb040;
  color: #fff;
  border: 2px solid #fcb040;
  border-radius: 5px;
  margin-top: 80px;
}

.lead{
    margin-top: 50px;
}
.btn {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 26px;
  letter-spacing: 0;
  border-radius: 0;
  line-height: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  word-wrap: break-word;
  white-space: normal !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}
</style>
