<template>
  <div class="vertical-nav" id="sidebar">
    <!-- Sidebar Content -->

    <ul class="nav flex-column mb-0">
      <!-- Logo Item -->

      <li class="nav-header mt-5">
        Logo
      </li>

      <!-- Dashboard Item -->

      <li class="nav-item mt-3">
        <a href="#" @click="$emit('changecomponent', 'table')" class="nav-link">
          <img src="../assets/Dashboard.svg" aria-hidden="true" />
          Dashboard
        </a>
      </li>

      <!-- Cargo Tracking Item -->

      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="../assets/Truck.svg" aria-hidden="true" />
          Cargo Tracking
        </a>
      </li>

      <!-- Revenues Item -->

      <li class="nav-item">
        <a href="#" @click="$emit('changecomponent', 'stats')" class="nav-link">
          <img src="../assets/Sales.svg" aria-hidden="true" />
          Revenues
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "AdminSidebar",
};
</script>

<style scoped>
.nav-item .nav-header .nav-link {
  background: linear-gradient(174.13deg, #656567 0.71%, #4e4e50 100%);
}

.vertical-nav .nav-header {
  font-size: 25px;
  color: #d4d4d5;
}

.vertical-nav .nav-item .nav-link {
  color: #d4d4d5;
  text-align: left;
}
</style>
