<template>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom nav-fill">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar Content -->

      <ul class="navbar-nav ml-auto">
        <!-- Search Item -->

        <li class="nav-item mx-3">
          <a class="nav-link" href="#"><img src="../assets/Search.svg"/></a>
        </li>

        <!-- Dropdown Item -->

        <li class="nav-item mx-3 dropdown ">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="../assets/Hamburger.svg" aria-hidden="true" />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item font-weight-bold text-center" href="#"
              >Action 1</a
            >
            <a class="dropdown-item font-weight-bold text-center" href="#"
              >Action 2</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item font-weight-bold text-center" href="#"
              >Action 3</a
            >
          </div>
        </li>

        <!-- Logout Item -->

        <li class="nav-item mx-5">
          <router-link :to="{ path: '/' }">
            <button @click="logOut" class="btn px-5">Logout</button>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "AdminNavbar",
  methods: {
    logOut() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.navbar-custom {
  background: linear-gradient(90deg, #535355 0%, #343436 100%);
}

.nav-link {
  border-radius: 6px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #cbcbcd;
}

.navbar-custom .navbar-nav .dropdown-menu {
  background-color: #69696b;
}

.navbar-custom .navbar-nav .dropdown-menu .dropdown-item {
  color: #b9b9bb;
}

.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item.active .nav-link {
  color: #dcdcde;
}

.navbar-custom .nav-item .btn {
  background-color: #e8735f;
  color: #fee9e0;
}
</style>
