<template>
  <div>
  
    <!-- Table Add/Remove Menu -->

    <div class="table-top">
      <div class="table-top-new">
        <button class="btn px-5" data-toggle="modal" data-target="#exampleModalCenter"> Add New </button><NewCargo v-on:createcargo="createOrder"></NewCargo>
      </div>
      <div class="table-top-trash">
        <a class="nav-link trash-icon" href="#" @click.prevent="deleteOrder">
          <img src="../assets/Trash.svg" aria-hidden="true" />
        </a>
      </div>
    </div>

    <!-- Table Content -->

    <div>
      <table class="table">

        <!-- Table Columns -->

        <thead>
          <tr>
            <th class="table-col">NAME</th>
            <th class="table-col">DATE</th>
            <th class="table-col">STATUS</th>
            <th class="table-col">CITY</th>
            <th class="table-col">SAL</th>
          </tr>
        </thead>

        <!-- Table Rows -->

        <tbody>
          <tr
            v-for="order in getOrders"
            :key="order.id"
            @click="selectOrder($event, order.id)"
            :class="{ selected: order.id == selectedId }"
          >
            <td class="table-row">{{ order.recipient.name }}</td>
            <td class="table-row">{{ order.orderDate }}</td>
            <td class="table-row">
              <i
                class="fa fa-xs fa-circle"
                :class="order.order_status.orderStat"
                aria-hidden="true"
              ></i>
              <span> {{ order.order_status.orderStat }}</span>
            </td>
            <td class="table-row">{{ order.finishDropoff }}</td>
            <td class="table-row">{{ currenySymbol }}{{ order.id }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->

    <div class="d-flex align-items-center justify-content-center">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" @click="currentPage = getFirstPage" href="#"
            >First</a
          >
        </li>
        <li v-for="index in getPageCount" :key="index" class="page-item">
          <a class="page-link" @click="currentPage = index" href="#">{{
            index
          }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" @click="currentPage = getPageCount" href="#"
            >Last</a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import NewCargo from "@/components/NewCargo.vue";

export default {
  name: "adminTable",
  components: {
    NewCargo,
  },
  data: function() {
    return {
      selectedId: -1,
      currentPage: 1,
      perPage: 3,
      currenySymbol: "$",
    };
  },
  props: {
    orders: Array,
  },
  created() {
    
  },
  methods: {

    // Generate a unique Id for the new Order, if all id used in the pool then return -1

    generateId() {
      const maxId = 1000;
      let id, isDuplicate;

      for(id = 1; id < maxId; id++) {
        isDuplicate = false;
        for (let i = 0; i < this.orders.length; i++) {
          if (this.orders[i].id == id) {
            isDuplicate = true;
            break;
          }
        }

        if(!isDuplicate) break;
      }

      return (isDuplicate)? (-1) : id; 
    },

    // Select a order from table for operations

    selectOrder(event, id) {
      this.selectedId = id;
    },

    // Delete a order from table and database

    async deleteOrder() {
      if (this.selectedId != -1) {
        this.orders = this.orders.filter(
          (order) => order.id !== this.selectedId
        );
        
        /*
        const response = await axios({
          method: "delete",
          url: "https://cargotracking.herokuapp.com/api/orders/" + this.selectedId,
          headers: { "Content-Type": "application/json", 'Authorization': 'Bearer ' + localStorage.getItem("access")},
        }).catch(function (error) {
          if (error.response) {
            console.log(error.response.data);
            console.log(error.response.status);
          }
        });
        */

        this.selectedId = -1;
      }
    },

    // Create a new order, the form has only 5 inputs so the remained fields are default

    createOrder(order) {
      const orderId = this.generateId();

      if(orderId == -1) return;

      this.orders.push({
        "id": orderId,
        "piece": 3,
        "orderDate": order.date,
        "startDropoff": "İSTANBUL",
        "finishDropoff": order.city,
        "trackNo": "B8524511",
        "recipient": {
          "id": 2,
          "name": order.name,
          "phone": "5555555555",
          "address": "sakarya üniversitesi",
          "eposta": "egehan@gmail.com"
        },
        "sender": {
          "id": 2,
          "name": "Halil İbrahim Önder",
          "phone": "5555555555",
          "address": "İstanbul",
          "eposta": "ibrahim@gmail.com"
        },
        "order_status": {
          "id": 2,
          "orderStat": order.status,
          "deliveryTime": null,
          "receiver": ""
        }
      });

      /*
      const response = await axios({
        method: "get",
        url: "https://cargotracking.herokuapp.com/api/orders/",
        headers: { "Content-Type": "application/json", 'Authorization': 'Bearer ' + localStorage.getItem("access")},
      })
      .catch(function (error) {
        if (error.response) {
          console.log(error.response.data);
          console.log(error.response.status);
        }
      });
      */
    }
  },
  computed: {

    // Get some orders to show in the page, returns array

    getOrders() {
      const begin = this.perPage * (this.currentPage - 1);
      return this.orders.slice(begin, begin + this.perPage);
    },

    // Get index of first page, page indices start with 1

    getFirstPage() {
      return 1;
    },

    // Get page count

    getPageCount() {
      return Math.ceil(this.orders.length / this.perPage);
    },
  },
};
</script>

<style scoped>
.table-col {
  color: #7f7f82;
}

.table-row {
  color: #b5b5b5;
}

.selected {
  background-color: #525252;
}

.online {
  color: #39d082;
}

.idle {
  color: #f4913e;
}

.offline {
  color: #d0d1d3;
}

td {
  border-bottom: solid 1px #87665e;
  text-align: center;
}

.table-top-trash,
.table-top-new {
  float: right;
  padding: 25px 10px;
}

.table-top-new {
  padding-right: 280px;
  color: #ffffff;
}

.table-top-new button:hover {
  color: #d0d1d3;
}

.trash-icon,
.trash-icon:hover {
  color: #773735;
}

.pagination > li > a {
  background-color: #373737;
  border: 1px solid #ed7062;
  color: #dadada;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #ed7062;
}
</style>
