<template>
  <div>
    <h1>Stats Page</h1>
  </div>
</template>

<script>
export default {
  name: "adminStats",
  data: function() {
    return {};
  },
};
</script>

<style scoped>
h1 {
  color: #fff;
}
</style>
