<template>
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content container p-3 p-relative">
        <img
          class="closeModal"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          src="../assets/close_icon.svg"
        />

        <div class="row">
          <div class="col-md-4 col-12">
            <div class="modal-header">
              <h5 id="exampleModalCenterTitle" class="modal-title">Recipient</h5>
            </div>
            <div class="modal-body">
              <ul class>
                <li>
                  <p>Name:</p>
                  <input type="text" :placeholder="RecipientName" disabled />
                </li>
                <li>
                  <p>Phone:</p>
                  <input type="text" :placeholder="RecipientPhone" disabled />
                </li>
                <li>
                  <p>Adress:</p>
                  <input type="text" :placeholder="RecipientAdress" disabled />
                </li>
                <li>
                  <p>E-mail:</p>
                  <input type="text" :placeholder="RecipientEmail" disabled />
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="modal-header">
              <h5 id="exampleModalCenterTitle" class="modal-title">Sender</h5>
            </div>
            <div class="modal-body">
              <ul class>
                <li>
                  <p>Name:</p>
                  <input type="text" :placeholder="SenderName" disabled />
                </li>
                <li>
                  <p>Phone:</p>
                  <input type="text" :placeholder="SenderPhone" disabled />
                </li>
                <li>
                  <p>Adress:</p>
                  <input type="text" :placeholder="SenderAdress" disabled />
                </li>
                <li>
                  <p>E-mail:</p>
                  <input type="text" :placeholder="SenderEmail" disabled />
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="modal-header">
              <h5 id="exampleModalCenterTitle" class="modal-title">Order Status</h5>
            </div>
            <div class="modal-body">
              <ul class>
                <li>
                  <p>Order Date:</p>
                  <input type="text" :placeholder="OrderDate" disabled />
                </li>
                <li>
                  <p>Where From:</p>
                  <input type="text" :placeholder="OrderFrom" disabled />
                </li>
                <li>
                  <p>Where To:</p>
                  <input type="text" :placeholder="OrderTo" disabled />
                </li>
                <li>
                  <p>Order Status:</p>
                  <input type="text" :placeholder="OrderStatus" disabled />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CargoTrackPopup",
  props: {
    RecipientName: {
      type: String,
    },
    RecipientEmail: {
      type: String,
    },
    RecipientPhone: {
      type: String,
    },
    RecipientAdress: {
      type: String,
    },
    SenderName: {
      type: String,
    },
    SenderEmail: {
      type: String,
    },
    SenderPhone: {
      type: String,
    },
    SenderAdress: {
      type: String,
    },
    OrderDate: {
      type: String,
    },
    OrderFrom: {
      type: String,
    },
    OrderTo: {
      type: String,
    },
    OrderStatus: {
      type: String,
    },
  },
};
</script>

<style>
</style>