<template>
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content container p-3 p-relative">
        <img
          class="closeModal"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          src="../assets/close_icon.svg"
        />
        <div class="modal-header">
          <h5 id="exampleModalCenterTitle" class="modal-title">
            New Cargo Info
          </h5>
        </div>
        <div class="modal-body">
          <ul class>
            <li>
              <p>Name:</p>
              <input type="text" v-model="cargo.name" placeholder="" />
            </li>
            <li>
              <p>Date:</p>
              <input type="text" v-model="cargo.date" placeholder="" />
            </li>
            <li>
              <p>Status:</p>
              <input type="text" v-model="cargo.status" placeholder="" />
            </li>
            <li>
              <p>City:</p>
              <input type="text" v-model="cargo.city" placeholder="" />
            </li>
            <li>
              <p>Salary:</p>
              <input type="text" v-model="cargo.salary" placeholder="" />
            </li>
          </ul>
        </div>
        <div>
          <button
            class="btn px-5"
            @click="$emit('createcargo', cargo), closeWindow()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "newCargo",
  data() {
    return {
      cargo: {
        name: "",
        date: "",
        status: "",
        city: "",
        salary: "",
      },
    };
  },
  methods: {
    closeWindow() {
      window.close();
    },
  }
};
</script>

<style>
.btn {
  background-color: #e9735f;
  color: white;
}
.btn:hover {
  color: white;
}
</style>
